<div class="title">
	<h1>Multi-expressions</h1>
</div>
<div class="description">
<p>
You can get result that is superposition of as many as you need expressions, where you get a merged list of results for each expression. 
</p>
<p>
You can try some of the following multi-expressions:
<pre>
<demo-expression expression="$.science.astronomy.surname; $.humanities[0].surname"></demo-expression>
<demo-expression expression="$.science['astronomy', 'electronics']['name', 'surname']; $.humanities[1]['name', 'surname']"></demo-expression>
</pre>
</p>
</div>
<demo-show example-name="'multi-expressions'" expressions="" dataset=""></demo-show>
